__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.zip
InputText.txt
Emotion_Detection.py
Sentiment_Analysis_Neutral_Included_With_Probabilty_Score.py
Emotion_Detection_Sentiment_Analysis_With_NLTK.py
Emotion_Detection_without_NLTK.ipynb
railway.json
merged_training.zip
merged_training.pkl
Sentiment/
